<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Furniture</a>
      <div class="navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li><a class="nav-link" routerLink="/home">Home</a></li>
          <li><a class="nav-link" routerLink="/home">Shop</a></li>
          <li><a class="nav-link" routerLink="/home">About us</a></li>
          <li><a class="nav-link" routerLink="/home">Services</a></li>
          <li><a class="nav-link" routerLink="/home">Blog</a></li>
          <li><a class="nav-link" routerLink="/cart">Cart</a></li>
        </ul>
        <ul class="navbar-nav ms-5">
          <li><a class="nav-link" routerLink="/login">LogOut</a></li>
        </ul>
      </div>
    </div>
  </nav>
  