<footer class="footer-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="/home">About us</a></li>
                            <li><a href="/home">Services</a></li>
                            <li><a href="/home">Blog</a></li>
                            <li><a href="/home">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="/home">Support</a></li>
                            <li><a href="/home">Knowledge base</a></li>
                            <li><a href="/home">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <ul class="list-unstyled">
                            <li><a href="/home">Jobs</a></li>
                            <li><a href="/home">Our team</a></li>
                            <li><a href="/home">Leadership</a></li>
                            <li><a href="/home">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>